.scroll-feed {
  max-height: 70vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.scroll-feed::-webkit-scrollbar {
  width: 10px;
}

.scroll-feed::-webkit-scrollbar-track {
  background: #1e1e2e;
}

.scroll-feed::-webkit-scrollbar-thumb {
  background-color: #313244;
  border-radius: 20px;
  border: 3px solid #1e1e2e;
}
