@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&display=swap");

.App {
  background-color: #1E1E2E;
  min-height: max-content;
  display: flex;
}

#root {
  background-color: #1E1E2E;
  min-height: 100vh;
  display: flex;
}


